* {
  margin: initial;
  padding: initial;
  border: initial;
  outline: initial;
  border-radius: initial;
  background-color: initial;
  box-sizing: border-box;
  overflow-wrap: break-word;
  font-size: 100%;
}

::before,
::after {
  box-sizing: border-box;
}

ol,
ul,
li {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: initial;
}

input:focus::placeholder,
textarea:focus::placeholder {
  color: transparent;
}

textarea {
  resize: none;
}
