:root {
  --main-color: #ff7235;
  --dark-color: #292830;
  --light-color1: #bdbdbd;
  --light-color2: #fff;
  --beige-color: #fffaf8;

  --duration: 0.3s;

  --section-padd1: 160px 0;
  --section-padd2: 80px 0;
  --section-padd3: 40px 0;
}
