.button {
  border: 1px solid var(--main-color);
  border-radius: 8px;
  background-color: var(--main-color);
  padding: 12px 24px;
  color: var(--white-color);
  font-size: 16px;
}

.button_invert {
  background-color: transparent;
  color: var(--main-color);
}

@media (hover: hover) {
  .button:hover {
    background-color: transparent;
    color: var(--main-color);
  }

  .button_invert:hover {
    background-color: var(--main-color);
    color: var(--white-color);
  }
}

@media (pointer: coarse) {
  .button:active {
    background-color: transparent;
    color: var(--main-color);
  }

  .button_invert:active {
    background-color: var(--main-color);
    color: var(--white-color);
  }
}
