html,
body {
  height: 100%;
  scroll-behavior: smooth;
  color: var(--color-basic);
  font-weight: 400;
  font-size: 24px;
  line-height: 1;
  font-family: "Hind Siliguri", sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 57px;
  min-height: 100%;
}

/* --------------- MAIN --------------- */

main {
  flex-grow: 1;
}

section {
  display: flex;
  align-items: center;
  padding: 160px 0px;
  height: calc(100vh - 105px);
  overflow: hidden;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
  max-width: calc(1108px + 20px + 20px);
}

.content {
  display: flex;
  column-gap: 30px;
  justify-content: space-between;
  align-items: center;
}

.content__info {
  display: flex;
  flex-direction: column;
}

.content__suptitle {
  margin-bottom: 24px;
  color: var(--color-lighter);
  font-size: 22px;
  text-transform: uppercase;
}

.content__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 96px;
}

.content__title.title--nowrap {
  white-space: nowrap;
}

.content__title.title--not-marg {
  margin-bottom: 0;
}

.content__descr {
  margin-bottom: 40px;
  color: var(--color-lighter);
  line-height: 1.5;
}

.content__descr.descr--marg {
  margin-bottom: 24px;
}

.content__descr.descr--not-marg {
  margin-bottom: 0;
}

.content__demo {
  display: flex;
  column-gap: 18px;
  align-items: center;
}

.btn__base {
  border: 1px solid;
  border-radius: 8px;
  background-color: var(--color-accent);
  min-width: 192px;
  height: 75px;
  color: var(--color-contrast);
  font-weight: inherit;
  font-size: inherit;
  line-height: 75px;
  font-family: inherit;
  text-align: center;
  white-space: nowrap;
}

.btn__base:hover {
  cursor: pointer;
  border: 1px solid;
  background-color: transparent;
  color: var(--color-accent);
}

.content__image {
  width: 100%;
  max-width: 540px;
}

.pic {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.content__more .more__link {
  display: flex;
  column-gap: 12px;
  justify-content: space-between;
  align-items: center;
  width: 152px;
  height: 24px;
  color: var(--color-accent);
  line-height: 24px;
  text-decoration: none;
  white-space: nowrap;
}

.arrow__right {
  display: block;
  width: 24px;
  height: 24px;
}

/* DECOR */

.content.content--decor {
  position: relative;
}

.content.content--decor::before,
.content.content--decor::after {
  position: absolute;
  left: -57px;
  z-index: -1;
  background-image: url(../images/ellipse.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 84px;
  height: 84px;
  content: "";
}

.content.content--decor::before {
  top: -37px;
}

.content.content--decor::after {
  bottom: -47px;
  rotate: -90deg;
}

/* OVERVIEW */

div:has(> .container__bg) {
  overflow: hidden;
}

.container__bg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(../images/backgrounds/background.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--color-accent);
  padding-top: 87px;
  width: 100%;
}

.block {
  display: flex;
  justify-content: center;
}

.block__image {
  width: 100%;
  max-width: 1110px;
}

.overview {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.brands {
  display: flex;
  column-gap: 108px;
  row-gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: var(--color-contrast);
  padding: 82px 0 66px;
  width: 100%;
}

/* CARDS */

.content.content--column {
  flex-direction: column;
}

.content__info.content--row {
  column-gap: 30px;
  flex-direction: row;
  align-items: center;
  margin-bottom: 80px;
}

.content__cards {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 12px;
  padding: 65px;
  width: 100%;
  max-width: 350px;
  min-height: 350px;
}

.card:hover {
  cursor: pointer;
  box-shadow: 0px 0px 50px 0px #0000000a;
}

.card__img1,
.card__img2,
.card__img3 {
  margin: 0 auto 24px;
  border-radius: 50%;
  width: 64px;
  height: 64px;
}

.card__img1 {
  background: url(../icons/device.svg) rgba(255, 189, 116, 0.05) no-repeat
    center;
}

.card__img2 {
  background: url(../icons/cloud.svg) rgba(226, 89, 139, 0.05) no-repeat center;
}

.card__img3 {
  background: url(../icons/backpack.svg) rgba(77, 18, 238, 0.05) no-repeat
    center;
}

.card__title {
  margin-bottom: 12px;
  font-weight: 500;
  font-size: 30px;
  text-align: center;
}

.card__descr {
  color: var(--color-lighter);
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
}

.card__arrow {
  display: block;
  mask-image: url(../icons/card-arrow.svg);
  mask-position: center;
  mask-size: contain;
  mask-repeat: no-repeat;
  margin: 24px auto 0;
  background-color: currentColor;
  width: 24px;
  height: 24px;
  color: currentColor;
}

.card__arrow:hover {
  cursor: pointer;
  background-color: var(--color-accent);
}

/* FLEXIBLE PLANS */

section.section--color-beige {
  background-color: var(--color-beige);
  padding: 140px 0px;
  height: initial;
}

.center__title {
  margin-bottom: 80px;
  font-weight: 700;
  font-size: 72px;
  text-align: center;
}

.plans__prices {
  display: flex;
  row-gap: 30px;
  flex-wrap: wrap;
  margin-right: -30px;
}

.item_w {
  padding-right: 30px;
  width: calc(100% / 3);
}

.plan__card {
  border: 1px solid #f5f5f5;
  border-radius: 12px;
  background-color: var(--color-contrast);
  padding: 40px;
  width: 100%;
  height: 500px;
}

.plan__card:hover {
  border: 1px solid transparent;
}

.plan__icon {
  display: block;
  margin-bottom: 34px;
  width: 24px;
  height: 24px;
}

.plan__card_title {
  margin-bottom: 36px;
  font-weight: 600;
  font-size: 32px;
}

.plan__card_list {
  display: flex;
  row-gap: 8px;
  flex-direction: column;
  margin-bottom: 24px;
}

.plan__card_item {
  display: flex;
  align-items: center;
  background-image: url(../icons/check-mark.svg);
  background-position: left;
  background-size: 24px;
  background-repeat: no-repeat;
  padding-left: calc(24px + 8px);
  min-height: 30px;
  font-size: 18px;
}

.plan__price {
  height: 40px;
  font-weight: 600;
}

.year {
  color: var(--color-lighter);
  font-weight: 300;
  font-size: 20px;
}

.price__subtitle {
  margin-bottom: 40px;
  color: var(--color-lighter);
  font-size: 12px;
}

.btn__get {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  border-radius: 8px;
  max-width: 136px;
  height: 50px;
  color: var(--color-accent);
  font-size: 16px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
}

.btn__arrow {
  display: block;
  mask-image: url(../icons/card-arrow.svg);
  mask-position: center;
  mask-size: 24px;
  mask-repeat: no-repeat;
  margin-left: 10px;
  background-color: currentColor;
  width: 24px;
  height: 24px;
  color: currentColor;
}

.btn__get:hover {
  cursor: pointer;
  border: 1px solid var(--color-accent);
  background-color: var(--color-accent);
  color: var(--color-contrast);
}

/* COLLAGE-GRID */

section.section--collage {
  padding: 136px 0px;
  height: initial;
}

.shop__collage {
  display: grid;
  grid-template-rows: repeat(3, 3fr);
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas:
    "a a c c d d"
    "a a e e f g"
    "b b h h h h";
  gap: 15px;
}

.image__cllg_1 {
  grid-area: a;
  height: 422px;
}

.image__cllg_2 {
  grid-area: b;
}

.image__cllg_3 {
  grid-area: c;
}

.image__cllg_4 {
  grid-area: d;
}

.image__cllg_5 {
  grid-area: e;
}

.image__cllg_6 {
  grid-area: f;
}

.image__cllg_7 {
  grid-area: g;
}

.image__cllg_8 {
  grid-area: h;
}

.image__cllg_2,
.image__cllg_3,
.image__cllg_4,
.image__cllg_5,
.image__cllg_6,
.image__cllg_7,
.image__cllg_8 {
  height: 202px;
}

.cllg {
  display: block;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* FORMS */

.content__forms {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form__block {
  margin: 0 auto;
  width: 100%;
  max-width: 592px;
}

.form {
  display: flex;
  flex-direction: column;
}

.form__areas {
  display: flex;
  row-gap: 12px;
  flex-direction: column;
  margin-bottom: 5px;
}

.areas {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.block__input {
  border: 1px solid var(--color-basic);
  border-radius: 4px;
  background-color: var(--color-contrast);
  padding: 10px 8px;
  width: calc((100% - 12px) / 2);
  height: 50px;
  font-weight: inherit;
  font-size: 18px;
  font-family: inherit;
}

#user__text {
  border: 1px solid var(--color-basic);
  border-radius: 4px;
  background-color: var(--color-contrast);
  padding: 10px 8px;
  width: 100%;
  height: 135px;
  font-weight: inherit;
  font-size: 18px;
  font-family: inherit;
}

.block__input::placeholder,
#user__text::placeholder {
  color: var(--color-lighter);
}

.indicate {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  height: 26px;
  font-size: 16px;
}

.check {
  display: flex;
  align-items: center;
  height: 20px;
}

input[type="checkbox"] {
  margin-right: 12px;
  width: 15px;
  height: 15px;
  accent-color: var(--color-accent);
}

.label__policy {
  font-size: 14px;
}

.link__policy {
  color: currentColor;
}

.block__btn__submit,
.footer__btn__submit {
  margin: 62px auto 0;
  border: 1px solid var(--color-accent);
  border-radius: 8px;
  background-color: var(--color-accent);
  min-width: 102px;
  height: 50px;
  color: var(--color-contrast);
  font-weight: 600;
  font-size: 16px;
  font-family: inherit;
}

.block__btn__submit:hover,
.footer__btn__submit:hover {
  cursor: pointer;
  border: 1px solid var(--color-accent);
  background-color: var(--color-contrast);
  color: var(--color-accent);
}
