html,
body {
  height: 100%;
  scroll-behavior: smooth;
  color: var(--dark-color);
  font-weight: 400;
  font-size: 24px;
  line-height: 1;
  font-family: "Hind Siliguri", sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 57px;
  min-height: 100%;
}

.xpense-link {
  display: block;
  width: 100%;
  max-width: 112px;
  height: 40px;
}

.xpense-logo {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

main {
  flex-grow: 1;
}

section {
  padding: var(--section-padd1);
  overflow: hidden;
}

section.section--calc-height {
  display: flex;
  align-items: center;
  height: calc(100vh - 105px);
}

section.section--beige-background {
  background-color: var(--beige-color);
}

section:nth-of-type(3) .block__info {
  order: 1;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
  max-width: calc(1108px + (20px * 2));
}

.container.container--flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.block__top-text {
  margin-bottom: 35px;
  color: var(--light-color1);
  font-size: 22px;
  text-transform: uppercase;
}

.block__title {
  font-weight: 700;
}

.block__title--v1 {
  margin-bottom: 20px;
  font-size: 96px;
}

.block__title--v2 {
  margin-bottom: 80px;
  font-size: 72px;
  text-align: center;
}

.block__text {
  margin-bottom: 23px;
  color: var(--light-color1);
  line-height: 1.65;
}

.block__link {
  display: inline-flex;
  column-gap: 12px;
  align-items: center;
  color: var(--main-color);
  text-decoration: none;
}

.block__link::after {
  display: inline-block;
  mask-image: url(../media/icons/arrow-1.svg);
  mask-position: center;
  mask-repeat: no-repeat;
  background-color: currentColor;
  width: 24px;
  height: 24px;
  content: "";
}

.block__image-wrapper {
  width: 100%;
  max-width: 540px;
}

.block__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

input[type="checkbox"] {
  width: 15px;
  height: 15px;
  accent-color: var(--main-color);
}

button[type="submit"] {
  cursor: pointer;
  border: 1px solid var(--main-color);
  border-radius: 8px;
  background-color: var(--main-color);
  color: var(--light-color2);
  font-weight: 600;
  font-size: 16px;
  font-family: inherit;
}

button[type="submit"]:hover {
  background-color: transparent;
  color: var(--main-color);
}

@media (max-width: 1023px) {
  section {
    padding: var(--section-padd2);
  }

  section.section--calc-height {
    height: initial;
  }

  .block__top-text {
    font-size: 18px;
  }

  .block__title--v1 {
    font-size: 56px;
  }

  .block__title--v2 {
    font-size: 52px;
  }

  .block__text {
    font-size: 18px;
  }
}

@media (max-width: 767px) {
  .wrapper {
    transition: padding-top var(--duration);
  }

  section {
    padding: var(--section-padd3);
  }

  section:nth-of-type(3) .block__info {
    order: 0;
  }

  .container.container--flex {
    flex-direction: column;
    align-items: flex-start;
  }

  .block__title--v2 {
    margin-bottom: 40px;
  }

  button[type="submit"] {
    padding: 8px 24px;
  }
}
