header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: var(--color-contrast);
  width: 100%;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 48px;
  font-size: 18px;
  white-space: nowrap;
}

.logo {
  display: block;
  min-width: 112px;
  height: 40px;
}

.logo__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.nav__head {
  width: 100%;
}

.nav__content {
  display: flex;
  align-items: center;
}

.nav__list {
  display: flex;
  column-gap: 40px;
  margin: 0 auto;
}

.nav__link {
  color: var(--color-basic);
  font-size: 18px;
  text-decoration: none;
}

.nav__link:hover {
  color: var(--color-accent);
}

.btn__head {
  border: 1px solid;
  border-radius: 8px;
  min-width: 160px;
  height: 48px;
  color: var(--color-accent);
  font-weight: inherit;
  font-size: 18px;
  font-family: inherit;
  text-align: center;
  white-space: nowrap;
}

.btn__head:hover {
  cursor: pointer;
  border: 1px solid var(--color-accent);
  background-color: var(--color-accent);
  color: var(--color-contrast);
}

.btn__head__menu {
  display: none;
  mask-image: url(../icons/menu-icon.svg);
  mask-position: center;
  mask-size: contain;
  mask-repeat: no-repeat;
  cursor: pointer;
  background-color: var(--color-accent);
  width: 48px;
  height: 48px;
}
