.popup_demo {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  background-color: rgba(1, 1, 1, 0.4);
  padding: 0 20px;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
}

.popup_demo.open {
  display: flex;
}

.popup__in {
  border-radius: 8px;
  background-color: var(--color-contrast);
  padding: 20px;
  max-width: 500px;
  min-height: 200px;
}

.popup__sup {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.pp__title {
  font-weight: 600;
}

.popup__close {
  position: relative;
  cursor: pointer;
  width: 24px;
  height: 24px;
}

.popup__close::before,
.popup__close::after {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: var(--color-accent);
  width: 3px;
  height: 24px;
  content: "";
}

.popup__close::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.popup__close::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.popup__close:hover::before,
.popup__close:hover::after {
  background-color: var(--color-lighter);
}

.pp__text {
  line-height: normal;
  text-align: justify;
  white-space: wrap;
}
