.product__content {
  display: flex;
  align-items: center;
  gap: 65px;
  margin-bottom: 80px;
}

.product__title,
.product__text {
  margin: initial;
}

.product__feature-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 29px;
  width: 100%;
}

@media (max-width: 1023px) {
  .product__content {
    gap: 30px;
  }
}

@media (max-width: 767px) {
  .product__content {
    flex-direction: column;
    align-items: initial;
    margin-bottom: 40px;
  }
}
