@media (max-width: 1023px) {
  section,
  section.section--color-beige,
  section.section--collage {
    padding: 80px 0px;
    height: initial;
  }

  .content.content--decor::before,
  .content.content--decor::after {
    display: none;
  }

  .content__suptitle {
    font-size: 18px;
  }

  .content__title,
  .content__title.title--nowrap {
    font-size: 56px;
    white-space: initial;
  }

  .content__descr {
    font-size: 18px;
  }

  .btn__base {
    min-width: 150px;
    font-size: 20px;
  }

  .content__demo .content__descr {
    white-space: nowrap;
  }

  .content__cards {
    flex-wrap: wrap;
    justify-content: center;
  }

  .card {
    width: initial;
  }

  .center__title {
    font-size: 52px;
  }

  .item_w {
    width: calc(100% / 2);
  }

  .block__input {
    width: 100%;
  }

  .footer__top {
    flex-wrap: wrap;
    gap: 50px;
    padding-top: 40px;
  }

  .footer__form {
    margin: 0 auto;
  }

  .footer__bottom {
    row-gap: 30px;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
  }
}

@media (max-width: 767px) {
  .menu:has(.btn__head__menu.open) {
    padding-top: 20px;
  }

  .nav__head {
    position: fixed;
    top: 0;
    left: -100vw;
    z-index: -1;
    background-color: var(--color-beige);
    width: 100vw;
    height: 100vh;
    overflow: auto;
    scrollbar-width: none;
  }

  .nav__head.open {
    left: 0;
  }

  .nav__content {
    row-gap: 80px;
    flex-direction: column;
    justify-content: center;
    padding-top: 68px;
    height: 100%;
    min-height: 640px;
  }

  .nav__list {
    row-gap: 30px;
    flex-direction: column;
    align-items: center;
    width: 80%;
  }

  .nav__item:not(:last-child) {
    border-bottom: 1px solid var(--color-lighter);
    padding-bottom: 30px;
    width: 100%;
    text-align: center;
  }

  .btn__head__menu {
    display: block;
    transform: rotate(0deg);
  }

  .btn__head__menu.open {
    transform: rotate(180deg);
    background-color: var(--color-basic);
  }

  .wrapper,
  .menu {
    transition: padding-top 0.3s;
  }

  .nav__head {
    transition: left 0.3s;
  }

  .btn__head__menu {
    transition: transform 0.3s;
  }

  section,
  section.section--color-beige,
  section.section--collage {
    padding: 40px 0px;
  }

  section:nth-of-type(-n + 4) .content {
    row-gap: 30px;
    flex-direction: column;
    align-items: flex-start;
  }

  .content__demo .content__descr {
    white-space: wrap;
  }

  .btn__base {
    height: 55px;
  }

  section:nth-of-type(3) .content__image {
    order: 1;
  }

  .container__bg {
    padding-top: 40px;
  }

  .brands {
    padding: 40px 20px;
  }

  .content__info.content--row {
    row-gap: 30px;
    flex-direction: column;
    align-items: initial;
    margin-bottom: 40px;
  }

  .card {
    width: 100%;
    max-width: initial;
  }

  .card__arrow {
    width: 48px;
    height: 48px;
  }

  .center__title {
    margin-bottom: 40px;
  }

  .item_w {
    width: 100%;
  }

  .plan__card {
    height: auto;
  }

  .price__subtitle {
    font-size: 18px;
  }

  .btn__arrow {
    mask-size: 32px;
    width: 32px;
    height: 32px;
  }

  .shop__collage {
    grid-template-areas:
      "a a c c d d"
      "a a f f g g"
      "b b e e h h";
  }

  .form__areas {
    margin-bottom: 15px;
  }

  input[type="checkbox"] {
    min-width: 20px;
    min-height: 20px;
  }

  .block__btn__submit {
    margin-top: 32px;
  }

  .block__btn__submit,
  .footer__btn__submit {
    height: 40px;
  }

  .footer__top {
    flex-direction: column;
    align-items: center;
  }

  .footer__title {
    text-align: center;
  }

  .footer__item {
    text-align: center;
  }

  .email__form {
    flex-direction: column;
    margin-bottom: 15px;
    border: initial;
    border-radius: initial;
    padding: initial;
    width: 100%;
    max-width: 565px;
    height: 120px;
  }

  .footer__email {
    margin: initial;
    border: 1px solid var(--color-basic);
    border-radius: 8px;
    padding: 0 10px;
    height: 50px;
  }

  .footer__btn__submit {
    margin-right: initial;
  }
}
