@media (max-width: 1023px) {
  section,
  section.section--color-beige,
  section.section--collage {
    padding: 80px 0px;
    height: initial;
  }

  .content.content--decor::before,
  .content.content--decor::after {
    display: none;
  }

  .content__suptitle {
    font-size: 18px;
  }

  .content__title {
    font-size: 56px;
  }

  .content__descr {
    font-size: 18px;
  }

  .demo__button {
    padding: 12px;
    font-size: 20px;
  }

  .content__demo .content__descr {
    white-space: nowrap;
  }

  .content__cards {
    flex-wrap: wrap;
    justify-content: center;
  }

  .card {
    width: initial;
  }

  .center__title {
    font-size: 52px;
  }

  .item_w {
    width: calc(100% / 2);
  }

  .form__input {
    width: 100%;
  }

  .footer__top__container {
    flex-wrap: wrap;
    gap: 50px;
    padding-top: 40px;
  }

  .footer__form {
    margin: 0 auto;
  }

  .footer__bottom__container {
    row-gap: 30px;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
  }
}

@media (max-width: 767px) {
  .header__container {
    justify-content: space-between;
  }

  .header__container:has(.header__menu__button.active) {
    padding-top: 20px;
  }

  .header__nav {
    position: fixed;
    top: 0;
    left: -100vw;
    z-index: -1;
    background-color: var(--color-beige);
    width: 100vw;
    height: 100vh;
    overflow: auto;
    scrollbar-width: none;
  }

  .header__nav.open {
    left: 0;
  }

  .header__nav__content {
    row-gap: 80px;
    flex-direction: column;
    justify-content: center;
    padding-top: 68px;
    height: 100%;
    min-height: 640px;
  }

  .header__nav__list {
    row-gap: 30px;
    flex-direction: column;
    align-items: center;
    width: 80%;
  }

  .header__nav__item:not(:last-child) {
    border-bottom: 1px solid var(--color-lighter);
    padding-bottom: 30px;
    width: 100%;
    text-align: center;
  }

  .header__menu__button {
    display: block;
  }

  .header__menu__button.active {
    transform: rotate(180deg);
    background-color: var(--color-basic);
  }

  .wrapper,
  .header__container {
    transition: padding-top 0.3s;
  }

  .header__nav {
    transition: left 0.3s;
  }

  .header__menu__button {
    transition: transform 0.3s;
  }

  section,
  section.section--color-beige,
  section.section--collage {
    padding: 40px 0px;
  }

  section:nth-of-type(-n + 4) .content {
    row-gap: 30px;
    flex-direction: column;
    align-items: flex-start;
  }

  .content__demo .content__descr {
    white-space: wrap;
  }

  section:nth-of-type(3) .content__image {
    order: 1;
  }

  .container__bg {
    padding-top: 40px;
  }

  .brands {
    padding: 40px 20px;
  }

  .content__info.content--row {
    row-gap: 30px;
    flex-direction: column;
    align-items: initial;
    margin-bottom: 40px;
  }

  .card {
    width: 100%;
    max-width: initial;
  }

  .card__arrow {
    width: 48px;
    height: 48px;
  }

  .center__title {
    margin-bottom: 40px;
  }

  .item_w {
    width: 100%;
  }

  .plan__card {
    height: auto;
  }

  .price__subtitle {
    font-size: 18px;
  }

  .shop__collage {
    grid-template-areas:
      "a a c c d d"
      "a a f f g g"
      "b b e e h h";
  }

  .form__content {
    margin-bottom: 15px;
  }

  input[type="checkbox"] {
    min-width: 20px;
    min-height: 20px;
  }

  .form__btn__submit {
    margin: 32px auto 0;
  }

  .form__btn__submit,
  .footer__submit__button {
    padding: 8px 24px;
  }

  .footer__top__container {
    flex-direction: column;
    align-items: center;
  }

  .footer__title {
    text-align: center;
  }

  .footer__nav__item {
    text-align: center;
  }

  .footer__input__wrapper {
    row-gap: 25px;
    flex-direction: column;
    margin-bottom: 15px;
    border: initial;
    border-radius: initial;
    height: initial;
  }

  .footer__form__input {
    border: 1px solid var(--color-basic);
    border-radius: 8px;
    padding: 0 10px;
    height: 50px;
  }

  .footer__submit__button {
    margin-right: initial;
  }

  .footer__form__description {
    text-align: center;
  }
}
